entrypoint = "index.js"
run = "node index.js"
language = "nodejs"

[nix]
channel = "stable-24_11"
packages = ["nodejs_20"]

[agent]
enabled = false
expertMode = true

[[ports]]
localPort = 3000
externalPort = 80
