entrypoint = "index.js"
language = "nodejs"

# Disattiva qualsiasi agente o test automatico
run = "npm start"
modules = ["nodejs-20"]

[unitTest]
enabled = false

[ai]
enabled = false

[nix]
channel = "stable-24_11"

[deployment]
run = ["sh", "-c", "npm start"]

[agent]
enabled = false
expertMode = true
